# This file is imported by init.{ro.hardware}.rc

on init
    export SDCARD_TRAY_PATH /sys/devices/soc/c0a4900.sdhci/mmc_host/mmc0/cd_status

    mkdir /srtc 0755 system system
    mkdir /qni 0755 system system

    mkdir /mpt 0755 system system
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    mkdir /dsp 0771 media media

on fs
    # Executing tune2fs to reserve some region in /data.(40MB)
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/bootdevice/by-name/userdata

on early-boot
#	exec u:r:qti_init_shell:s0 -- /vendor/bin.sh /display_port_permission.sh
  chmod 644 /sys/class/graphics/fb2/hpd
  chown system graphics /sys/class/graphics/fb2/hpd
  chmod 644 /sys/class/graphics/fb2/res_info
  chown system graphics /sys/class/graphics/fb2/res_info
  chmod 644 /sys/class/graphics/fb2/vendor_name
  chown system graphics /sys/class/graphics/fb2/vendor_name
  chmod 644 /sys/class/graphics/fb2/product_decription
  chown system graphics /sys/class/graphics/fb2/product_decription
  chmod 644 /sys/class/graphics/fb2/video_mode
  chown system graphics /sys/class/graphics/fb2/video_mode
  chmod 644 /sys/class/graphics/fb2/format_3d
  chown system graphics /sys/class/graphics/fb2/format_3d
  chmod 644 /sys/class/graphics/fb2/s3d_mode
  chown system graphics /sys/class/graphics/fb2/s3d_mode
  chmod 644 /sys/class/graphics/fb2/dynamic_fps
  chown system graphics /sys/class/graphics/fb2/dynamic_fps
  chmod 644 /sys/class/graphics/fb2/msm_fb_dfps_mode
  chown system graphics /sys/class/graphics/fb2/msm_fb_dfps_mode
  chmod 644 /sys/class/graphics/fb2/pa
  chown system graphics /sys/class/graphics/fb2/pa
  chmod 644 /sys/class/graphics/fb2/hdcp/tp
  chown system graphics /sys/class/graphics/fb2/hdcp/tp

on post-fs-data
    # NFC: create data/nfc for nv storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc
    mkdir /data/vendor/nfc 0770 nfc nfc

   mkdir /sns/fingerprint 0775 system system
   mkdir /data/fpc 0755 system system
   restorecon /data/fpc
   mkdir /data/fpc_images 0755 system system
   restorecon /data/fpc_images

    chown system system /mpt
    chmod 0775 /mpt
    mkdir /data/ramoops 0750 root log

on boot
   chown system input /sys/devices/virtual/input/lge_fingerprint/testmode
   chown system input /sys/devices/virtual/input/lge_fingerprint/spitest
   chown system input /sys/devices/virtual/input/lge_fingerprint/zonetest
   chown system input /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chown system input /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chown system input /sys/devices/virtual/input/lge_fingerprint/intstatus
   chown system input /sys/devices/virtual/input/lge_fingerprint/qup_id
   chown system input /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chown system input /sys/devices/virtual/input/lge_fingerprint/spi_prepare

   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/testmode
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spitest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/zonetest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chmod 0440 /sys/devices/virtual/input/lge_fingerprint/intstatus
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/qup_id
   chmod 0220 /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spi_prepare
# FPC device permission

   chown system input /sys/devices/virtual/input/lge_fingerprint/bus_lock
   chown system input /sys/devices/virtual/input/lge_fingerprint/clk_enable
   chown system input /sys/devices/virtual/input/lge_fingerprint/fabric_vote
   chown system input /sys/devices/virtual/input/lge_fingerprint/hw_reset
   chown system input /sys/devices/virtual/input/lge_fingerprint/irq
   chown system input /sys/devices/virtual/input/lge_fingerprint/pinctl_set
   chown system input /sys/devices/virtual/input/lge_fingerprint/spi_prepare
   chown system input /sys/devices/virtual/input/lge_fingerprint/spi_owner
   chown system input /sys/devices/virtual/input/lge_fingerprint/regulator_enable
   chown system input /sys/devices/virtual/input/lge_fingerprint/wakeup_enable

#for Dynamic Resolution Switching
  chmod 644 /sys/class/graphics/fb0/mode
  chmod 644 /sys/class/graphics/fb0/modes
  chmod 644 /sys/class/graphics/fb0/freeze_state
  chmod 644 /sys/class/graphics/fb0/freeze_state_hal
  chown system graphics /sys/class/graphics/fb0/mode
  chown system graphics /sys/class/graphics/fb0/modes
  chown system graphics /sys/class/graphics/fb0/freeze_state
  chown system graphics /sys/class/graphics/fb0/freeze_state_hal

#end for Dynamic Resolution Switching

#for Display Control Mode
  chmod 644 /sys/class/panel/img_tune/boost_status
  chown system system /sys/class/panel/img_tune/boost_status
  chmod 644 /sys/class/panel/img_tune/daylight_mode
  chown system system /sys/class/panel/img_tune/daylight_mode
  chmod 644 /sys/class/panel/img_tune/screen_mode
  chown system system /sys/class/panel/img_tune/screen_mode
  chmod 644 /sys/class/panel/img_tune/video_enhancement
  chown system system /sys/class/panel/img_tune/video_enhancement
  chmod 644 system /sys/class/panel/img_tune/color_manager_status
  chown system system /sys/class/panel/img_tune/color_manager_status
  chmod 200 /sys/class/panel/img_tune/therm_dim
  chown system system /sys/class/panel/img_tune/therm_dim
  chmod 644 /sys/class/panel/img_tune/rgb_tune
  chown system system /sys/class/panel/img_tune/rgb_tune
#end for Display Control Mode

#for Display Control Mode
  chown system system /sys/class/graphics/fb0/msm_fb_persist_mode
#end Display Control Mode
#for High Luminance Mode
  chown system system /sys/devices/virtual/graphics/fb0/hl_mode
#end for High Luminance Mode

#for Comfort View
  chmod 644 /sys/class/panel/img_tune/comfort_view
  chown system system /sys/class/panel/img_tune/comfort_view
#end for Comfort View

#for Ambient current state
  chmod 644 /sys/class/graphics/fb0/cur_panel_mode
  chown system system /sys/class/graphics/fb0/cur_panel_mode
#end for Ambient current state

#for AOD Area
  chmod 644 /sys/class/panel/aod/area
  chown system system /sys/class/panel/aod/area
#end for AOD Area

#for Ambient Extension Brightness
  chmod 644 /sys/class/leds/lcd-backlight-ex/brightness
  chown system system /sys/class/leds/lcd-backlight-ex/brightness
#end for Ambient Extension Brightness

#for Reader Mode
  chmod 644 /sys/class/graphics/fb0/reader_mode
  chown system system /sys/class/graphics/fb0/reader_mode
#end for Reader Mode

#Sync fb0 nodes with init.qcom.early_boot.sh
  chmod 644 /sys/class/graphics/fb0/idle_time
  chown system graphics /sys/class/graphics/fb0/idle_time
  chmod 644 /sys/class/graphics/fb0/dynamic_fps
  chown system graphics /sys/class/graphics/fb0/dynamic_fps
  chmod 644 /sys/class/graphics/fb0/dyn_pu
  chown system graphics /sys/class/graphics/fb0/dyn_pu
  chmod 644 /sys/class/graphics/fb0/msm_cmd_autorefresh_en
  chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
#end Sync fb0 nodes with init.qcom.early_boot.sh

# START touch_driver
	chown system system /sys/devices/virtual/input/lge_touch/incoming_call
	chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
	chown system system /sys/devices/virtual/input/lge_touch/ime_status
	chown system oem_4004 /sys/devices/virtual/input/lge_touch/keyguard
	chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
	chown system system /sys/devices/virtual/input/lge_touch/debug_tool
	chmod 664 /sys/devices/virtual/input/lge_touch/debug_tool
	chown system system /sys/devices/virtual/input/lge_touch/debug_option
	chmod 664 /sys/devices/virtual/input/lge_touch/debug_option
	chown system system /sys/devices/virtual/input/lge_touch/onhand
	chmod 664 /sys/devices/virtual/input/lge_touch/onhand
	chown system system /sys/devices/virtual/input/lge_touch/vr_status
	chmod 664 /sys/devices/virtual/input/lge_touch/vr_status
	chown system system /sys/devices/virtual/input/lge_touch/autotune
	chmod 664 /sys/devices/virtual/input/lge_touch/autotune
# END touch_driver

# START touch_knock_on
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
	chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
	chmod 664 /sys/devices/virtual/input/lge_touch/quick_cover_status
	chown system system /sys/devices/virtual/input/lge_touch/q_sensitivity
	chmod 664 /sys/devices/virtual/input/lge_touch/q_sensitivity
	chown system system /sys/devices/virtual/input/lge_touch/swipe_enable
	chmod 664 /sys/devices/virtual/input/lge_touch/swipe_enable
	chown system system /sys/devices/virtual/input/lge_touch/swipe_tool
	chmod 664 /sys/devices/virtual/input/lge_touch/swipe_tool
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_abs
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_abs
	chown system system /sys/devices/virtual/input/lge_touch/voice_button
	chmod 664 /sys/devices/virtual/input/lge_touch/voice_button
# END touch_knock_on

# Touch_BSP, add call_state property, lockscreen property, vr_status property
on property:ril.lge.touch.callstate=0
	write /sys/devices/virtual/input/lge_touch/incoming_call 0
on property:ril.lge.touch.callstate=1
	write /sys/devices/virtual/input/lge_touch/incoming_call 1
on property:ril.lge.touch.callstate=2
	write /sys/devices/virtual/input/lge_touch/incoming_call 2
on property:service.keyguard.status=0
	write /sys/devices/virtual/input/lge_touch/keyguard 0
on property:service.keyguard.status=1
	write /sys/devices/virtual/input/lge_touch/keyguard 1
on property:service.keyguard.status=2
	write /sys/devices/virtual/input/lge_touch/keyguard 1
on property:vrcore.mode.on=false
	write /sys/devices/virtual/input/lge_touch/vr_status 0
on property:vrcore.mode.on=true
	write /sys/devices/virtual/input/lge_touch/vr_status 1

on property:ro.boot.ksm=1
	# Configure and enable KSM
	write /sys/kernel/mm/ksm/pages_to_scan 100
	write /sys/kernel/mm/ksm/sleep_millisecs 500
	write /sys/kernel/mm/ksm/run 1

# Begin Immersion Changes
service immvibed /vendor/bin/immvibed -p 99 -u 1000
    class core
    user root
    group root
    oneshot
# End Immersion Changes


on property:persist.sys.emmc_size=32G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 32

on property:persist.sys.emmc_size=64G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 64

on property:persist.sys.emmc_size=128G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 128

on property:persist.sys.emmc_size=256G
    setprop ro.device.memory.system 0
    setprop ro.device.memory.internal 256
